.auth-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 390px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: rgb(45, 77, 105);
    color: white;
}